<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <!-- <link rel="stylesheet" href="styles/invert.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title>Good Morning Application</title>
</head>
    <body>
    <header>All about us!</header>
    <main>
        <p>
            <h2>Chris Cummings</h2>
            <img src="">
            Blah blah blah, I'm Chris and I have ridges.
        </p>
        <p>
            <h2>Corey Marchand</h2>
            <img src="">
            I like naps and beer.
        </p>
        <p>
            <h2>Avrey Brown</h2>
            <img src="">
            OOF!!!!!!!!!!!!!
        </p>
        <p>
            <h2>Darrik Puetz</h2>
            <img src="">
            World's strongest developer!  :)
        </p>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
</body>
</html>