<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <!-- <link rel="stylesheet" href="styles/invert.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title>Good Morning Application</title>
</head>
    <body>
    <header>All about us!</header>
    <main>
        <p>
            <h2>Chris Cummings</h2>
            <img src="">
            Background in GIS and Hydrology
            Loves problem solving and technology
            Known for being able to photoshop coworkers faces into various images

        </p>
        <p>
            <h2>Corey Marchand</h2>
            <img src="">
            Background in Sales
            Enjoys front-end development and creating solutions
            Universe Champion of Ping-Pong in code-301
            (Behind David)



        </p>
        <p>
            <h2>Avrey Brown</h2>
            <img src="">
            Graduated High School 2018
            Background in Art/Design
            Talents: Remembers lunch number

        </p>
        <p>
            <h2>Darrik Puetz</h2>
            <img src="">
            Background as an IT technician and social work.
            Enjoys back-end development and creating easier solutions.
            Current Heavyweight Developer Champion
        </p>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
</body>
</html>