<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="/public/styles/reset.css" />
    <link rel="stylesheet" href="/public/styles/base.css" />
    <link rel="stylesheet" href="/public/styles/layout.css" />
    <link rel="stylesheet" href="/public/styles/modules.css" />
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
</head>

<body id="homeBody">
    <header>
    </header>
    <main id="homePage">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        <h1 id="morning">Good Morning!</h1>
            <form action="/searches" method="post">
                <input type="text" name="search" placeholder="Enter Name" required>
                <div class="box">
                    <button class="btn btn-white btn-animation-1"type="submit">Click For Info</button>
                </div>
            </form>
    </main>
</body>

</html>