<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoodMorningApp</title>
</head>
<body>
  <header>
    <h1>Good Morning App</h1>
  </header>
  <main>
    <section>
      
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>