<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
</head>

<body id="homeBody">
    <header>
    </header>
    <main id="homePage">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        <h1 id="morning">Good Morning!</h1>
            <form id="loginForm" action="/show" method="get">
              <input id="name" type="text" name="search" placeholder="Enter Name" required>
              <input id="gmail" type="text" name="search" placeholder="Enter Gmail" required>
              <a href="/show" class="box">
                  <button class="btn btn-white btn-animation-1" type="submit">Click For Info</button>
              </a>
            </form>
            <!-- <div class="box">
            <button class="btn btn-white btn-animation-1" type="click">Welcome Back!</button>
          </div> -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script type="text/javascript" src="../app.js"></script>
            </section>
    </main>
</body>

</html>