
#showBody{
    box-sizing: border-box;
    border:1px solid red;
    display:flex;
    justify-content:space-between;

    background: rgb(0, 0, 0);
    color:white;
}

#homeBody{ 
    box-sizing: border-box; 
}