
body{
    box-sizing: border-box;
    border:1px solid red;
    display:flex;
    justify-content:space-between;
    font-family:Shrikhand;
    background: rgb(0, 0, 0);
    color:white;
    /* text-shadow: 2px 2px rgb(240, 248, 247) */
}
